In [2]:
pip install tensorflow_hub

Requirement already satisfied: tensorflow_hub in /usr/local/lib/python3.7/dist-packages (0.11.0)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_hub) (1.19.5)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_hub) (3.12.4)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.8.0->tensorflow_hub) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.8.0->tensorflow_hub) (54.2.0)

In [5]:
pip install deeppavlov

Requirement already satisfied: deeppavlov in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy==1.4.1 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (1.4.1)
Requirement already satisfied: scikit-learn==0.21.2 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.21.2)
Requirement already satisfied: prometheus-client==0.7.1 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.7.1)
Requirement already satisfied: pyopenssl==19.1.0 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (19.1.0)
Requirement already satisfied: pymorphy2==0.8 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.8)
Requirement already satisfied: sacremoses==0.0.35 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.0.35)
Requirement already satisfied: Cython==0.29.14 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.29.14)
Requirement already satisfied: tqdm==4.41.1 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (4.41.1)
Requirement already satisfied: pandas==0.25.3 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.25.3)
Requirement already satisfied: aio-pika==6.4.1 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (6.4.1)
Requirement already satisfied: nltk==3.4.5 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (3.4.5)
Requirement already satisfied: filelock==3.0.12 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (3.0.12)
Requirement already satisfied: h5py==2.10.0 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (2.10.0)
Requirement already satisfied: pydantic==1.3 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (1.3)
Requirement already satisfied: requests==2.22.0 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (2.22.0)
Requirement already satisfied: fastapi==0.47.1 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.47.1)
Requirement already satisfied: uvicorn==0.11.7 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.11.7)
Requirement already satisfied: rusenttokenize==0.0.5 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.0.5)
Requirement already satisfied: click==7.1.2 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (7.1.2)
Requirement already satisfied: pytelegrambotapi==3.6.7 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (3.6.7)
Requirement already satisfied: ruamel.yaml==0.15.100 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (0.15.100)
Requirement already satisfied: pytz==2019.1 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (2019.1)
Requirement already satisfied: overrides==2.7.0 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (2.7.0)
Requirement already satisfied: pymorphy2-dicts-ru in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (2.4.417127.4579844)
Requirement already satisfied: numpy==1.18.0 in /usr/local/lib/python3.7/dist-packages (from deeppavlov) (1.18.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.2->deeppavlov) (1.0.1)
Requirement already satisfied: cryptography>=2.8 in /usr/local/lib/python3.7/dist-packages (from pyopenssl==19.1.0->deeppavlov) (3.4.7)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyopenssl==19.1.0->deeppavlov) (1.15.0)
Requirement already satisfied: pymorphy2-dicts<3.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from pymorphy2==0.8->deeppavlov) (2.4.393442.3710985)
Requirement already satisfied: dawg-python>=0.7 in /usr/local/lib/python3.7/dist-packages (from pymorphy2==0.8->deeppavlov) (0.7.2)
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2==0.8->deeppavlov) (0.6.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.3->deeppavlov) (2.8.1)
Requirement already satisfied: aiormq<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from aio-pika==6.4.1->deeppavlov) (3.3.1)
Requirement already satisfied: yarl in /usr/local/lib/python3.7/dist-packages (from aio-pika==6.4.1->deeppavlov) (1.6.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests==2.22.0->deeppavlov) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests==2.22.0->deeppavlov) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests==2.22.0->deeppavlov) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests==2.22.0->deeppavlov) (1.24.3)
Requirement already satisfied: starlette<=0.12.9,>=0.12.9 in /usr/local/lib/python3.7/dist-packages (from fastapi==0.47.1->deeppavlov) (0.12.9)
Requirement already satisfied: httptools==0.1.*; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.11.7->deeppavlov) (0.1.1)
Requirement already satisfied: uvloop>=0.14.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.11.7->deeppavlov) (0.15.2)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.11.7->deeppavlov) (0.9.0)
Requirement already satisfied: websockets==8.* in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.11.7->deeppavlov) (8.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=2.8->pyopenssl==19.1.0->deeppavlov) (1.14.5)
Requirement already satisfied: pamqp==2.3.0 in /usr/local/lib/python3.7/dist-packages (from aiormq<4,>=3.2.0->aio-pika==6.4.1->deeppavlov) (2.3.0)
Requirement already satisfied: typing-extensions>=3.7.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from yarl->aio-pika==6.4.1->deeppavlov) (3.7.4.3)
Requirement already satisfied: multidict>=4.0 in /usr/local/lib/python3.7/dist-packages (from yarl->aio-pika==6.4.1->deeppavlov) (5.1.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=2.8->pyopenssl==19.1.0->deeppavlov) (2.20)

In [4]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.18.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [6]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.18.0)

In [ ]:
pip install tensorflow==1.15.0

In [8]:
import tensorflow as tf
import tensorflow_hub as hub

In [ ]:
from deeppavlov.models.embedders.elmo_embedder import ELMoEmbedder

In [10]:
import pandas as pd
import numpy as np

In [11]:
from scipy.spatial.distance import cosine

In [ ]:
elmo = ELMoEmbedder("http://files.deeppavlov.ai/deeppavlov_data/elmo_ru-news_wmt11-16_1.5M_steps.tar.gz")

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
data = pd.read_csv('data_for_w2v.csv', encoding='utf-16-be')
data

In [17]:
data = pd.read_csv('all_courses_clean.csv')

In [18]:
# data = data.drop({'Unnamed: 0'}, axis=1)
data

       Unnamed: 0  ...                                           all_info
0               0  ...  контрольный вопрос и задание  инструмент интер...
1               1  ...  unitx purchasing and storage от автор unit ii ...
2               2  ...   основной вид и характеристика электроинструме...
3               3  ...   содержание представление и умение  школьный т...
4               4  ...  тема  расследование нарушение правило техника ...
...           ...  ...                                                ...
30260       30260  ...   корпоративный социальный ответственность инос...
30261       30261  ...   уральский федеральный округ глава  методологи...
30262       30262  ...  глава  проблема правовой регулирование социаль...
30263       30263  ...  контрольный вопрос и задание глава  латеральны...
30264       30264  ...  список литература unit  company management uni...

[30265 rows x 3 columns]

In [19]:
data = data.drop_duplicates(subset='all_info')
data

       Unnamed: 0  ...                                           all_info
0               0  ...  контрольный вопрос и задание  инструмент интер...
1               1  ...  unitx purchasing and storage от автор unit ii ...
2               2  ...   основной вид и характеристика электроинструме...
3               3  ...   содержание представление и умение  школьный т...
4               4  ...  тема  расследование нарушение правило техника ...
...           ...  ...                                                ...
30233       30233  ...   требование к документ представлять для соверш...
30245       30245  ...  заключение  приложение  новый издание подисцип...
30252       30252  ...   сельскохозяйственный район раздел iv особенно...
30255       30255  ...   правописание согласный в корн слово  слитный ...
30262       30262  ...  глава  проблема правовой регулирование социаль...

[11017 rows x 3 columns]

In [12]:
vectorize = pd.DataFrame(columns=['vector'])

In [31]:
data['Unnamed: 0'].values

array([    0,     1,     2, ..., 30252, 30255, 30262])

In [ ]:
def to_vector(words):
  request_vect = np.zeros((1, 1024))
  vect_word = elmo([[words]])
  for i in vect_word:
    request_vect += i
  return request_vect

In [ ]:
dt = []
for i in data['Unnamed: 0']:
    if not i % 100: print(i)
    dt.append(elmo([[data.all_info[i]]]))
print('ok')

In [ ]:
x = elmo([[data.all_info[0]]])

In [ ]:
np.sum(x)

6.7003794

In [23]:
vectorize = pd.DataFrame(columns=['vector'])

In [24]:
for i in dt:
  vectorize = vectorize.append({'vector': i}, ignore_index=True)
vectorize

                                                  vector
0      [[0.26895428, 0.30151373, 0.5491725, 0.344743,...
1      [[-0.4643876, -0.078544065, -0.23469087, 0.183...
2      [[-0.5667841, 0.4193952, 0.25175086, 0.3133003...
3      [[-0.43150905, -0.5264995, -0.12793583, 0.2546...
4      [[-0.44764304, -0.07800484, 0.20476314, 0.7870...
...                                                  ...
11012  [[-0.16875425, -0.23142013, 0.08481322, 0.1283...
11013  [[-0.48557043, -0.37868384, 0.28364906, 0.8441...
11014  [[-0.25701356, -0.61224544, -0.09269293, 0.133...
11015  [[-0.45966884, -0.29324463, 0.5415814, 0.41439...
11016  [[0.03058954, 0.31062397, 0.27951598, 0.568434...

[11017 rows x 1 columns]

In [32]:
vectorize['Unnamed: 0'] = data['Unnamed: 0'].values
vectorize

                                                  vector  Unnamed: 0
0      [[0.26895428, 0.30151373, 0.5491725, 0.344743,...           0
1      [[-0.4643876, -0.078544065, -0.23469087, 0.183...           1
2      [[-0.5667841, 0.4193952, 0.25175086, 0.3133003...           2
3      [[-0.43150905, -0.5264995, -0.12793583, 0.2546...           3
4      [[-0.44764304, -0.07800484, 0.20476314, 0.7870...           4
...                                                  ...         ...
11012  [[-0.16875425, -0.23142013, 0.08481322, 0.1283...       30233
11013  [[-0.48557043, -0.37868384, 0.28364906, 0.8441...       30245
11014  [[-0.25701356, -0.61224544, -0.09269293, 0.133...       30252
11015  [[-0.45966884, -0.29324463, 0.5415814, 0.41439...       30255
11016  [[0.03058954, 0.31062397, 0.27951598, 0.568434...       30262

[11017 rows x 2 columns]

In [34]:
new_vectorize = data.set_index('Unnamed: 0').join(vectorize.set_index('Unnamed: 0')).drop({'all_info'}, axis=1).reset_index()
new_vectorize

       Unnamed: 0  ...                                             vector
0               0  ...  [[0.26895428, 0.30151373, 0.5491725, 0.344743,...
1               1  ...  [[-0.4643876, -0.078544065, -0.23469087, 0.183...
2               2  ...  [[-0.5667841, 0.4193952, 0.25175086, 0.3133003...
3               3  ...  [[-0.43150905, -0.5264995, -0.12793583, 0.2546...
4               4  ...  [[-0.44764304, -0.07800484, 0.20476314, 0.7870...
...           ...  ...                                                ...
11012       30233  ...  [[-0.16875425, -0.23142013, 0.08481322, 0.1283...
11013       30245  ...  [[-0.48557043, -0.37868384, 0.28364906, 0.8441...
11014       30252  ...  [[-0.25701356, -0.61224544, -0.09269293, 0.133...
11015       30255  ...  [[-0.45966884, -0.29324463, 0.5415814, 0.41439...
11016       30262  ...  [[0.03058954, 0.31062397, 0.27951598, 0.568434...

[11017 rows x 3 columns]

In [35]:
new_vectorize.to_csv('elmo_vectorize.csv')

In [71]:
sort_dict = lambda dictn: {key: value for key, value in sorted(dictn.items(), key=lambda item: item[1], reverse=True)}

In [ ]:
courses  = pd.read_csv('contents.csv', encoding='utf-16')
courses

In [ ]:
contents = pd.read_csv('courses.csv', encoding='utf-16')
contents

In [39]:
new_data = new_vectorize.set_index('content_id').join(courses[['content_id', 'normal_name', 'bdescription']].set_index('content_id')).reset_index().drop({'Unnamed: 0'}, axis=1)
new_data

                                 content_id  ...                                       bdescription
0      000249F5-15E7-40FA-A835-CB6D34EF355E  ...  Теории маркетинга посвящено множество достойны...
1      0008020A-E57E-40BD-9196-AA20637936E1  ...  Настоящее учебное пособие предназначено для ст...
2      000DDF9E-81D8-4612-A4DF-07E70705E0C9  ...  В учебнике даны основные сведения об электропр...
3      000E9424-369E-43DD-BC66-D46A6E7A995C  ...  В издании представлена методика диагностики пр...
4      00114246-96FC-4155-A563-EA55C52A5596  ...  Главная цель настоящего учебного пособия — пом...
...                                     ...  ...                                                ...
11012  FFB56DEF-DB07-479C-8B71-66E41E662F20  ...  Учебник подготовлен с учетом новейших изменени...
11013  FFD2F38B-96FF-4AE8-8D50-6E443AED451B  ...  Во втором издании монографии «Обучение чтению ...
11014  FFE90073-7D7D-405A-A6E0-5F504A15CA6B  ...  В учебнике освещаются теоретические основы, со...
11015  FFEC7B85-3062-44DE-B240-F1E81670789A  ...  Учебник построен в соответствии с Федеральным ...
11016  FFF8195F-8F00-407D-A656-5B6D4D90BC90  ...  Предлагаемое читателю издание является учебным...

[11017 rows x 4 columns]

In [77]:
with open('elmo_vec_np.npy', 'wb') as file:
  np.save(file, new_data)

In [82]:
with open('test.npy', 'wb') as file:
  np.save(file, new_data['vector'])

In [83]:
a = np.load('test.npy')

ValueError: ignored

In [69]:
new_data.to_csv('elmo_vector.csv')

In [ ]:
for i in new_data["normal_name"].values:
  if 'математика' in i:
    print(i)

In [65]:
new_data[new_data.normal_name == 'Прикладная математика']

                                 content_id  ...                                       bdescription
522    047D5DBE-DCE5-4AA4-8366-D43B4655E9B5  ...  В курсе рассмотрены основные методы нелинейног...
10834  F251B781-A1F0-4649-953D-DC0E0E86A041  ...  В курсе рассмотрены основные методы нелинейног...

[2 rows x 4 columns]

In [48]:
new_data['normal_name'][11015], new_data['content_id'][11015]

('Русский язык и культура речи', 'FFEC7B85-3062-44DE-B240-F1E81670789A')

In [72]:
def recommendation_system_with_cosine(request):
    simularity_course = {}
    req_vector = new_vectorize[new_vectorize.content_id == request].vector.values[0]
    for i, v in new_vectorize.iterrows():
        simularity_course[v.content_id] = cosine(req_vector, v.vector)
    simularity_course = sort_dict(simularity_course)

    return simularity_course

In [73]:
req = '047D5DBE-DCE5-4AA4-8366-D43B4655E9B5'

In [74]:
rec = recommendation_system_with_cosine(req)
# rec

In [68]:
for i in list(rec)[:6]:
  print(courses[courses.content_id == i].normal_name.values[0])

Прикладная математика
Логистика и управление цепями поставок
Логистика и управление цепями поставок
Комплексный экономический анализ хозяйственной деятельности в 2 ч. Часть 1
Маркетинг туристских услуг
Маркетинг туристских услуг

In [1]:
# print(courses[courses.content_id == req].normal_name, '\n')
s = set()
for i in rec:
  a = courses[courses.content_id == i].normal_name.values[0]
  if a not in s:
    print(a)
    s.add(a)
  if len(s) == 6:
    break

NameError: ignored

In [ ]:
elmo.